html,
body {
  background-color: #70a9a1;
  height: 100%;
}

*,
.button {
  font-family: "Montserrat";
}

#homeSection {
  background: url("../public/images/animals-dogs-pets-4933.jpg") center center;
  background-size: cover;
}

.navbar {
  background-color: #40798c;
}

.modal {
  background-color: #fffae8;
}

.modal-card-head,
.modal-card-foot {
  background-color: #70a9a1;
}

.confirmBtn {
  background-color: #40798c;
  color: #fffae8;
}

hr {
  width: 95%;
  margin: auto;
  background-color: #cccccc;
}

.navbar-item {
  background-color: #a4bab7;
  border: solid 0.5px #0b2027;
  color: #0b2027;
  margin: 6px;
  font-weight: bold;
}

#siteTitle {
  font-size: 60px;
}

#siteSubtitle {
  font-size: 30px;
}

.caution-button {
  margin: 5px;
}
#owner-container {
  background-color: #fffae8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  padding: 10px;
  margin: 20px auto 40px;
}

.search-result-container,
.dog-profile-container,
.friend-container {
  background-color: #fffae8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  padding: 10px;
  margin: 20px auto 20px;
}

.search-result-container:hover,
.friend-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 10px 20px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  cursor: pointer;
}
#loginButton,
#signUpButton {
  background-color: #fffae8;
}

#loginButton:hover,
#signUpButton:hover {
  background-color: #40798c;
  color: #fffae8;
}

.search-modal-content {
  width: 60%;
}

.userMessage {
  color: #0b2027;
  text-align: left;
}

.friendMessage {
  color: #a58697;
  text-align: right;
}

.dogProfilePic {
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: auto;
}

.profilePic {
  height: 200px;
  width: 200px;
  margin: auto;
}

#chatInput {
  width: 90%;
}

.loginBtn {
  margin: 10px;
}
