body {
  background-color: #cccccc;
  height: 100%;
}

#dog-container,
#owner-container {
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
}
